<a href="https://colab.research.google.com/github/gprasad125/dota2/blob/main/API_configuration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyopendota

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyopendota
  Downloading pyopendota-0.2.1-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyopendota) (2.23.0)
Collecting fire
  Downloading fire-0.4.0.tar.gz (87 kB)
     |████████████████████████████████| 87 kB 1.8 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from fire->pyopendota) (1.15.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.7/dist-packages (from fire->pyopendota) (1.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyopendota) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyopendota) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyopendota) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyopendota) (2.10)
Building wheels for collected packages: fire
  Building wheel for fire (setup.py) ... done
  Created wheel for fire: filename=fire-0.4.0-py2.py3-none-any.whl size=115942 sha256=5f44f30e3fee3b438b01616f80b7a665b926fbbc2076aeb1f3f573e495f4ef22
  Stored in directory: /root/.cache/pip/wheels/8a/67/fb/2e8a12fa16661b9d5af1f654bd199366799740a85c64981226
Successfully built fire
Installing collected packages: fire, pyopendota
Successfully installed fire-0.4.0 pyopendota-0.2.1

In [2]:
import pandas as pd
import numpy as np
import opendota

In [3]:
client = opendota.OpenDota()

In [4]:
matches_weu = client.get_league_matches("14279")

In [6]:
len(matches_weu)

34

In [7]:
matches_weu[0].keys()

dict_keys(['match_id', 'match_seq_num', 'radiant_win', 'start_time', 'duration', 'tower_status_radiant', 'tower_status_dire', 'barracks_status_radiant', 'barracks_status_dire', 'cluster', 'first_blood_time', 'lobby_type', 'human_players', 'leagueid', 'positive_votes', 'negative_votes', 'game_mode', 'engine', 'picks_bans', 'radiant_team_id', 'dire_team_id', 'radiant_team_name', 'dire_team_name', 'radiant_team_complete', 'dire_team_complete', 'radiant_captain', 'dire_captain', 'chat', 'objectives', 'radiant_gold_adv', 'radiant_xp_adv', 'teamfights', 'version', 'cosmetics', 'radiant_score', 'dire_score', 'draft_timings', 'series_id', 'series_type'])

In [ ]:
matches_weu[1].keys()

dict_keys(['match_id', 'match_seq_num', 'radiant_win', 'start_time', 'duration', 'tower_status_radiant', 'tower_status_dire', 'barracks_status_radiant', 'barracks_status_dire', 'cluster', 'first_blood_time', 'lobby_type', 'human_players', 'leagueid', 'positive_votes', 'negative_votes', 'game_mode', 'engine', 'picks_bans', 'radiant_team_id', 'dire_team_id', 'radiant_team_name', 'dire_team_name', 'radiant_team_complete', 'dire_team_complete', 'radiant_captain', 'dire_captain', 'chat', 'objectives', 'radiant_gold_adv', 'radiant_xp_adv', 'teamfights', 'version', 'cosmetics', 'radiant_score', 'dire_score', 'draft_timings', 'series_id', 'series_type'])

In [8]:
non_singular = ["picks_bans",
"chat",
"objectives",
"radiant_gold_adv",
"radiant_xp_adv",
"teamfights",
"draft_timings"]

In [9]:
df = pd.DataFrame()
for match in matches_weu:

  filtered = {key: match[key] for key in match.keys() if key not in non_singular}
  curr_df = pd.DataFrame(filtered)
  df = pd.concat([df, curr_df])

df = df.reset_index(drop = True)

In [10]:
df.head()

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,radiant_team_complete,dire_team_complete,radiant_captain,dire_captain,version,cosmetics,radiant_score,dire_score,series_id,series_type
0,6634310468,5545586653,False,1656164222,2065,1536,2046,0,63,274,...,1,0,127565532,127617979,21,3,11,29,680113,1
1,6634310468,5545586653,False,1656164222,2065,1536,2046,0,63,274,...,1,0,127565532,127617979,21,1,11,29,680113,1
2,6634310468,5545586653,False,1656164222,2065,1536,2046,0,63,274,...,1,0,127565532,127617979,21,128,11,29,680113,1
3,6634310468,5545586653,False,1656164222,2065,1536,2046,0,63,274,...,1,0,127565532,127617979,21,4,11,29,680113,1
4,6634310468,5545586653,False,1656164222,2065,1536,2046,0,63,274,...,1,0,127565532,127617979,21,132,11,29,680113,1

In [ ]:
df.columns

Index(['match_id', 'match_seq_num', 'radiant_win', 'start_time', 'duration',
       'tower_status_radiant', 'tower_status_dire', 'barracks_status_radiant',
       'barracks_status_dire', 'cluster', 'first_blood_time', 'lobby_type',
       'human_players', 'leagueid', 'positive_votes', 'negative_votes',
       'game_mode', 'engine', 'radiant_team_id', 'dire_team_id',
       'radiant_team_name', 'dire_team_name', 'radiant_team_complete',
       'dire_team_complete', 'radiant_captain', 'dire_captain', 'version',
       'cosmetics', 'radiant_score', 'dire_score', 'series_id', 'series_type'],
      dtype='object')

In [12]:
matches_weu[0]["radiant_gold_adv"]

[0,
 51,
 -136,
 -328,
 223,
 352,
 1122,
 653,
 682,
 1266,
 1775,
 1032,
 1025,
 82,
 -705,
 -920,
 -1243,
 -1928,
 -2198,
 -3491,
 -4355,
 -4277,
 -6518,
 -7661,
 -8577,
 -10604,
 -13117,
 -13688,
 -13711,
 -14988,
 -16557,
 -18449,
 -20123,
 -20818,
 -24955]